@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme { 
  --color-*: initial; 
  --font-sans: "Roboto", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
}

@import "tailwindcss-radix-colors/dist/slate.css";
@import "tailwindcss-radix-colors/dist/cyan.css";

.prose {
  --tw-prose-bullets: var(--color-cyan-11)
}
